Main:
act(:,run,rofi -show run -no-levenshtein-sort -location 6)
act(d,run (desktop files),i3-rofi-desktop)
act(p,pass,rofi-pass)
dir(g,go)
dir(i,i3)
act(n,notifications,rofication-gui.py)
act(e,snd,/home/clemens/bin/snd)
dir(s,system)

system:
dir(b,brightness)
dir(v,volume)
act(p,pulse,/home/clemens/bin/rofi-pulse-sink)
act(n,network,networkmanager_dmenu)
dir(x,power)

go:
act(b,browser,i3-msg workspace number 14)
act(m,mail,i3-msg workspace number 11)
act(c,chat,i3-msg workspace number 12)
act(s,music,i3-msg workspace number 13)
act(1,1,i3-msg workspace number 1)
act(2,2,i3-msg workspace number 2)
act(3,3,i3-msg workspace number 3)
act(4,4,i3-msg workspace number 4)
act(5,5,i3-msg workspace number 5)
act(6,6,i3-msg workspace number 6)
act(7,7,i3-msg workspace number 7)
act(8,8,i3-msg workspace number 8)
act(9,9,i3-msg workspace number 9)
act(0,10,i3-msg workspace number 10)

i3:
dir(m,move workspace)
act(l,screen layout,/home/clemens/bin/screenlayout_menu)
dir(r,rotate)
dir(s,split)

move workspace:
act(h,move workspace to output left,i3-msg move workspace to output left)
act(j,move workspace to output down,i3-msg move workspace to output down)
act(k,move workspace to output up,i3-msg move workspace to output up)
act(l,move workspace to output right,i3-msg move workspace to output right)

split:
act(j,split down (vertical),i3-msg split v)
act(l,split right (horizontal),i3-msg split h)

brightness:
actReload(j,brightness down,xbacklight -dec 5)
actReload(k,brightness up,xbacklight -inc 5)

volume:
actReload(j,volume down,sh -c "ponymix decrease 5;pkill -RTMIN+1 i3blocks")
actReload(k,volume up,sh -c "ponymix increase 5;pkill -RTMIN+1 i3blocks")
actReload(0,mute,sh -c "ponymix toggle;pkill -RTMIN+1 i3blocks")

rotate:
act(h,left,thinkpad-rotate left)
act(j,inverted,thinkpad-rotate inverted)
act(k,normal,thinkpad-rotate normal)
act(l,right,thinkpad-rotate right)

power:
act(z,suspend, systemctl suspend)
dir(s,shutdown)
dir(r,reboot)

shutdown:
act(y,confirm,systemctl poweroff)

reboot:
act(y,confirm,  systemctl reboot)


